# Node / TS
node_modules/
dist/
build/
coverage/
.tmp/
.temp/
.cache/
.vite/

# pnpm
.pnpm-store/

# TS build info
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & segredos
.env
.env.*
*.local
.envrc

# SO
.DS_Store
Thumbs.db
*.sw?

# IDE
.vscode/
.idea/

# Web app (artefatos)
apps/web/dev-dist/

# Mantém infra no repositório
# (NÃO ignore 'infra/' nem 'init-sql/')
