@'
node_modules
dist
.git
.gitignore
Dockerfile*
docker-compose*
*.log
.env
.envrun.txt
scripts/
tmp/
coverage
.env.*
service-account.json
full.sql
.vscode
.idea
.DS_Store
Thumbs.db
'@ | Set-Content -Encoding UTF8 -NoNewline .dockerignore
